.scroll-input {
    overflow-y: auto;
}

.container {
    padding: 1%;
    min-height: 95%;
    overflow-y: none;
}

.mat-raised-button {
    margin-left: 3% !important;
    margin-right: 3% !important;
}

.internalMatGrid {
    overflow-y: auto;
    min-height: 100%;
    min-width: 100%;
}

.mat-card {
    width: calc(100% - 70px);
    margin: 1px;
    /* background-color: beige; */
}

::ng-deep mat-grid-tile.mat-grid-tile .mat-figure {
    align-items: initial;
}

.mat-grid-tile .mat-figure {
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.terminal-style-output {
    background-color: #5cdb95;
    font-weight: 300;
    color: #05386B;
    height: calc(100% - 70px);
    width: calc(100% - 70px);
    padding: 0 1rem;
    margin: 0;
    max-height: 90%;
    border-radius: 10px;
    overflow-wrap: break-word;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


/* Optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.fullscreen {
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
}